

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }

.hero {
  height: 90vh;
  background-image: url("site.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 60px;
  color: white;
}

.team-left {
  flex: 1;
}

.team-right {
  flex: 2;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.member {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
  border-radius: 10px;
  min-width: 200px;
}