*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  section {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }

#homeSection {
  height: 90vh;
  background-image: url("site.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

button {
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

#btnBook {
  align-self: flex-start;
}

#resultsSection {
  display: none;
  padding: 30px;
}

#result {
  margin-top: 20px;
}

.result-card {
  width: 300px;
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.result-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.result-card h3 {
  margin: 10px 0;
  font-size: 20px;
}

.result-card p {
  font-size: 14px;
  color: #555;
}